<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/result.css">
    <title>Result</title>
</head>
<body>
    <h1>Scheduling - {{currentYear}}</h1>

    <div class="header">
      <div>
        <a class="return-home" href="/">بازگشت به صفحه اصلی</a>
        <div class="dropdown dropdown-margin">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ورودی
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {{#each years}}
              <a class="dropdown-item" href="/result/{{this.value}}">{{this.value}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      <form action="/uploads" method="POST" class="input-container" enctype="multipart/form-data">
            <div class="input-group-prepend btn-container">
                <button type="submit" class="btn btn-success" id="inputGroupFileAddon01">Run</button>
            </div>
            <div class="d-flex align-items-center justify-content-center input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="this"
                    aria-describedby="inputGroupFileAddon01" name="this" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </form>
    </div>

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">روز هفته</th>
            <th scope="col">8-10</th>
            <th scope="col">10-12</th>
            <th scope="col">14-16</th>
            <th scope="col">16-18</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">شنبه</th>
            {{#each saturday}}
              {{!-- {{#equal this.index @index}} --}}
                <td>{{this.proffesor}} - {{this.lesson}} - کلاس {{this.class}} - ساعت {{this.time}}</td>
                {{!-- {{else}}
                <td> - - - </td>
              {{/equal}} --}}
            {{/each}}
          </tr>
          <tr>
            <th scope="row">یکشنبه</th>
            {{#each sunday}}
                <td>{{this.proffesor}} - {{this.lesson}} - کلاس {{this.class}} - ساعت {{this.time}}</td>
            {{/each}}
          </tr>
          <tr>
            <th scope="row">دوشنبه</th>
            {{#each monday}}
                <td>{{this.proffesor}} - {{this.lesson}} - کلاس {{this.class}} - ساعت {{this.time}}</td>
            {{/each}}
          </tr>
          <tr>
            <th scope="row">سه‌شنبه</th>
            {{#each tuesday}}
                <td>{{this.proffesor}} - {{this.lesson}} - کلاس {{this.class}} - ساعت {{this.time}}</td>
            {{/each}}
          </tr>
          <tr>
            <th scope="row">چهارشنبه</th>
            {{#each wendsday}}
                <td>{{this.proffesor}} - {{this.lesson}} - کلاس {{this.class}} - ساعت {{this.time}}</td>
            {{/each}}
          </tr>
        </tbody>
    </table>
</body>

<footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</footer>

</html>